<nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
    <div class="container">
          <a href="index.html" class="navbar-brand">DONATHEMES</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" 
         aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link px-3" routerLink="/home">Home</a></li>
              <li class="nav-item"><a class="nav-link px-3" routerLink="/otro-registro">Otro Registro</a></li>
             </ul>
        </div>    

   </div>

</nav>

<!-- Hero area -->
<div id="hero-area" class="hero-area-bg text-light text-center d-flex my-2">
      <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h2 class="section-title">Donathemes shop</h2>
                <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt blandit mollis. Donec ac enim mi. Nullam sit amet sagittis dui. </p>
            </div>
        </div>
    </div>
</div>
